.content {
	height: 100%;
	.dashboard {
		height: 100%;
		width: 100%;
		margin: 0;
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		@include media ($tablet-width){
			flex-flow: row nowrap;
		}
		@include media($desktop-width) {
			justify-content: flex-start;
		}
		.times-logo-container {
			width: 300px;
			text-align: center;
			.times-logo {
				height: auto;
				max-width: 100%;
			}
		}
		& form {
			margin-top: 2rem;
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			text-align: center;
			label {
				select {
					display: block;
					margin: 1rem;
				}
			}
		}
	}
	.stories-grid {
		height: 0px;
		display: flex;
		flex-flow: row wrap;
		.story {
		 	height: 420px;
		 	width: 100%;
		 	background-size: cover;
		 	background-position: center;
			list-style-type: none;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-end;
			align-items: center;
			@include media (500px) {
				width: 50%;
			}
			@include media ($desktop-width) {
				width: 25%;
			}
			& img {
				width: 100%;
				height: auto;
			}

			& p {
				padding: 0.5rem;
				line-height: 1.5rem;
			}
		}
	}
}
