html {
	height: 100%;
	body {
		font-family: 'Open Sans', Arial, Serif;
		font-weight: normal;
		height: auto;
		min-height: 100%;
		width: 100%;
		font-size: 16px;
		color: #FFFFFF;
		background-color: black;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;
		@include media($desktop-width) {
			font-size: 1.2rem;
		}
	}
}