@import 'variables';
@import 'mixins';

@import 'fonts';
@import 'reset';
@import 'globals';
@import 'content';
@import 'footer';

.screen-reader-text:focus {
   clip: auto !important;
   display: block;
   height: 50px;
   left: 5px;
   top: 5px;
   width: auto;
   z-index: 100000; /* above all content */

}

.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
   background-color: lightgrey;
   color: #e2574c;
   text-decoration: none;
}

#main[tabindex="-1"]:focus {
   outline: 0;
}
